  <div class="main">
        <video controls autoplay loop>
        <source src="http://s3.amazonaws.com/codecademy-content/projects/excursion/bg.mp4" type="video/mp4">
        </video>
      <div class="content container">
        <h1>last pick</h1>
      </div>            
    </div>
        <div class="supporting">
      <div class="container">
        <h2>there's a team that's one short</h2>
      </div>
    </div>

    <!-- Feature section -->
    <div class="feature">
            <div class="apps">
            <a class="btn" href="#">pick your game</a>
            </div>
    </div>

    
    <!-- Second supporting section -->
    <div class="supporting">
      <div class="container">
        <img src="http://blog.spectafy.com/wp-content/uploads/2014/06/basketball_short.jpg">
        <h2>Available for iPhone and Android</h2>
        <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="185px" />
      <img alt="Get it on Google Play" src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="159px" />
      </div>

      </div>
    </div>

    
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <p>&copy; Placeholder</p>
      </div>
    </div>